*.ncb
*.opt
*.plg
Debug
Makefile
Release
WinDebug
WinRel
autom4te*.cache
config.h
config.log
config.status
cvs-*.tar.bz2*
cvs-*.tar.gz*
cvs.spec
cvsinit
cvsnt.mdp
stamp-h1

*.o
*.a
.deps/
/contrib/check_cvs
/contrib/clmerge
/contrib/cln_hist
/contrib/commit_prep
/contrib/cvs_acls
/contrib/cvs2vendor
/contrib/debug_check_log
/contrib/log
/contrib/log_accum
/contrib/mfpipe
/contrib/pvcs2rcs
/contrib/rcs-to-cvs
/contrib/rcslock
/contrib/sccs2rcs
/contrib/mkman
/contrib/cvscheck
/contrib/rcs2log
/doc/mkman
/src/cvs
/src/cvsbug
/vms/stamp-ch
/windows-NT/fix-msvc-mak